<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.MicSounds.micsounds">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CAMERA"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name="com.MicSounds.micsounds.Orders"></activity>
        <activity android:name="com.MicSounds.micsounds.Checkout" />
        <activity android:name="com.MicSounds.micsounds.Cart" />
        <activity android:name="com.MicSounds.micsounds.SignUpActivity" />
        <activity android:name="com.MicSounds.micsounds.LoginActivity" />
        <activity android:name="com.MicSounds.micsounds.Favorites" />
        <activity android:name="com.MicSounds.micsounds.Keyboards" />
        <activity android:name="com.MicSounds.micsounds.ElectricDrums" />
        <activity android:name="com.MicSounds.micsounds.AcousticDrums" />
        <activity android:name="com.MicSounds.micsounds.ClassicalGuitars" />
        <activity android:name="com.MicSounds.micsounds.AcousticGuitars" />
        <activity android:name="com.MicSounds.micsounds.ElectricGuitars" />
        <activity android:name="com.MicSounds.micsounds.Bass" />
        <activity android:name="com.MicSounds.micsounds.DrumsCategories" />
        <activity android:name="com.MicSounds.micsounds.GuitarsCategories" />
        <activity android:name="com.MicSounds.micsounds.Navigation" />
        <activity android:name="com.MicSounds.micsounds.MainActivity" />
        <activity android:name="com.MicSounds.micsounds.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>